@font-face {
    font-family: RobotoCondensed;
    src: url(assets/roboto-condensed.light.ttf); /* Import font*/
    font-weight: 800
}

@font-face { /* Import font */
    font-family: EconomicaBold;
    src: url(assets/economica-bold.ttf);
}


body {
    text-align: center;
    font-size: 20px;
    padding: 2.5%;
    font-family: "RobotoCondensed" /* Specify font */
}

h1, h2, h3, h4, h5 {
    font-family: "EconomicaBold" /* Specify font */
}

.profile {
    width: 200px;
    height: 200px;
    border-radius: 100px; /* Border-radius being half the width/height makes perfect circle*/
}

.title-fade-out {
    opacity: 0;
    animation-name: fade-out;
    transition: opacity 2s ease;
    /* animation-duration: 2; */
}

.title-fade-in {
    opacity: 1;
    animation-name: fade-in;
    transition: opacity 2s ease;
    /* animation-duration: 2; */
}

@keyframes fade-out {
    from { opacity: 100}
    to { opacity: 0}
}

@keyframes fade-in {
    from { opacity: 0}
    to { opacity: 100}
}